
@import "../../../styles.scss";
.customer-container {
    display: flex;
    flex-wrap: wrap;
    .customer-card {
        margin: $px5*3 + px;
        width: $px100*3 +px;
        .create-customer {
            display: flex;
            justify-content: center;
            align-items: center;
            border: $px1*2+px dashed #c5c5c5;
            font-weight: bold;
            border-radius: $px5+px;
            height: 100%;
            padding-bottom: $px10+px;
        }
    }
}

.search-customer-container {
    display: flex;
    margin: $px5*3 + px;
    .search-img {
        margin: $px5 + px;
        position: absolute;
    }
    .search-customer {
        display: block;
        width: 30%;
        padding: 6px $px10*3+px;
        line-height: 1.5;
        border: $px1+px solid #ccc;
        border-radius: $px1*4+px;
    }
}


