<div class="card" [ngStyle]="{'border-top': '5px solid' + customer.color}">
    <div>
        <div class="header-section">
            <img [src]="customer.logo" alt="Avatar" style="width:35px;height: 35px;">
            <div class="header">
                <h4>{{customer.company}}</h4>
                <label style="color: darkgrey;">{{customer.name}}</label>
            </div>
        </div>
        <div class="customer-details">{{customer.address}}</div>
        <div class="customer-details">{{customer.email}}</div>
    </div>
</div>